<!--Add static file of css-->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data World</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
<header>
    <h1>Data World</h1>
</header>
<main>
    <p>Welcome to my first Django project!</p>
    <b>I'm planning to create a sample data-driven application using Django.</b>
    <h2>Members List</h2>

    <ul>
        {% for x in mymembers %}
        <li>{{ x.firstname }} {{ x.lastname }}</li>
        {% endfor %}
    </ul>
</main>
<footer>
    &copy; 2025 Data World Project. All rights reserved.
    <br>
    <a href="#">Home</a> |
    <a href="#">About</a> |
    <a href="#">Contact</a>
</footer>
</body>
</html>